* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background: url("./pexels-nathan-engel-436413.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;

  height: 30vh;
}

/* Existing Styles */
.navbar-brand,
.nav-link {
  margin-right: 10px; /* Adjust margins as necessary */
}

/* Responsive Adjustments */
@media (max-width: 380px) {
  .navbar-brand,
  .nav-link {
    font-size: 0.8rem; /* Reduce font size */
    padding: 5px; /* Reduce padding */
  }

  .form-control {
    width: auto; /* Allow input width to adjust based on space available */
    max-width: 150px; /* Maximum width in smaller viewports */
  }

  .navbar-toggler {
    font-size: 0.7rem; /* Adjust toggler size if needed */
  }
}

/* Adjustments for form elements inside navbar */
@media (max-width: 380px) {
  .btn {
    padding: 0.375rem 0.75rem; /* Smaller padding */
    font-size: 0.7rem; /* Smaller font size */
  }

  .form-control {
    padding: 0.375rem 0.75rem; /* Adjust padding */
    font-size: 0.8rem; /* Adjust font size */
  }
}

/* ---------------- */

.textFormat {
  color: #85851b;
  padding: 20px;
}
.firstLetter::first-letter {
  font-size: 2rem;
}
.textFormat:hover {
  text-shadow: 2px 2px 5px #f0f8ff9c;
}

.text {
  color: #dfdf37;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  box-shadow: 0 0 30px 2px red;
}

.nav-link,
a:hover {
  box-shadow: 0 0 30px 2px red;
  border-radius: 1rem;
}
.movBox {
  position: relative;
}

.errMsg {
  font-size: 2rem;
  font-weight: bolder;
  padding: 50px;
}

.bg-color {
  background-color: #c8d87b7c;
}
