* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background: url("./pexels-nathan-engel-436413.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;

  height: 30vh;
}

.navLayout {
  background-color: rgb(157, 56, 56);
}

@media (max-width: 500px) {
  .navLayout .list-unstyled {
    flex-direction: column; /* Stack items vertically */
  }
}

li,
a {
  list-style: none;
  text-decoration: none;
  color: #dfdf37;
  margin: 1rem;
  font-size: 1rem;
}
.btn:hover {
  background-color: rgb(157, 56, 56);
  box-shadow: 0 0 30px 2px #dfdf37;
  color: #dfdf37;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  box-shadow: 0 0 30px 2px red;
}

.nav-link,
a:hover {
  box-shadow: 0 0 40px 4px red;
  border-radius: 1rem;
}
.movBox {
  position: relative;
}

.errMsg {
  font-size: 2rem;
  font-weight: bolder;
  padding: 50px;
  color: #dfdf37;
}
